body {
  background-color: #FFFFC5;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 20px;
}

h1 {
  color: #0d47a1;
  text-align: center;
}

h2 {
  color: #1565c0;
}

table {
  width: 60%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #e6e6e6; 
}

th, td {
  padding: 10px;
  text-align: center;
  background-color: #b0bec5;
  color: blue;
}


ul {
  width: 80%;
  margin: auto;
  line-height: 1.6;
}

a {
  color: #00695c;
  text-decoration: none;
}
